parameters:
    level: 5
    paths:
        - app
        - tests

    scanDirectories:
        - vendor\codeigniter4

    excludePaths:
        analyse:
            - app/Config
            - app/Cells
            - app/Common.php

        analyseAndScan:
            - app/Views
            - app/Database/Migrations/*
    

